<div class="flex flex-col items-center justify-center h-full space-y-6">
  <div id="custom-event" class="custom-event-start">
    <div class="flex flex-wrap gap-12 justify-center p-4 relative">
      <!-- Arrow -->
      <div class="arrow-container">
        <div class="arrow"></div>
      </div>

      <!-- Event Before -->
      <div
        id="event-before"
        class="w-[calc(50%-1rem)] max-w-[150px] rounded-lg cursor-pointer relative"
      >
        <img src="/img/events/base.png" class="rounded-lg" />
      </div>

      <!-- Event Now -->
      <div
        id="event-now"
        class="w-[calc(50%-1rem)] max-w-[150px] rounded-lg cursor-pointer relative"
      >
        <img src="/img/events/attack.jpeg" class="rounded-lg" />
      </div>
    </div>
  </div>

  <!-- Main Cards -->
  <div id="main-cards">
    <div id="category-container" class="flex flex-wrap gap-4 justify-center pr-4 pl-4"></div>
    <div id="next-container" class="flex-wrap gap-4 justify-center pr-4 pl-4 hidden"></div>
  </div>

  <!-- Timebar -->
  <div
    id="timebar"
    class="w-[88%] bg-gray-300 rounded-full h-4 overflow-hidden hidden"
  >
    <div
      id="timebar-progress"
      class="bg-blue-600 h-full transition-all rounded-full"
      style="width: 0"
    ></div>
  </div>
</div>
