<!-- dead Card -->
<div class="flex flex-wrap gap-12 justify-center items-center min-h-screen relative">
    <div id="dead-card" class="">
      <div class="flex flex-wrap gap-4 justify-center pr-4 pl-4">
        <div
          id="end-now" class="w-[90%] bg-blue-500 shadow rounded-lg p-1 justify-center cursor-pointer">
          <img src="/img/dead.webp" class="rounded-lg" />
        </div>
      </div>
    </div>
  </div>
