<div class="flex flex-col items-center justify-center h-full space-y-6">
    <!-- Custom Event Handlers -->
    <div id="custom-event" class="custom-event-start">
      <div class="flex flex-wrap gap-12 justify-center p-4 relative">
        <!-- Arrow -->
        <div class="arrow-container">
          <div class="arrow"></div>
        </div>
  
        <!-- Event Before -->
        <div
          id="event-before-kidnapped"
          class="w-[calc(50%-1rem)] max-w-[150px] rounded-lg cursor-pointer relative"
        >
          <img src="/img/events/base.png" class="rounded-lg" />
        </div>
  
        <!-- Event Now -->
        <div
          id="event-now-kidnapped"
          class="w-[calc(50%-1rem)] max-w-[150px] rounded-lg cursor-pointer relative"
        >
          <img src="/img/events/kidnapping3.jpeg" class="rounded-lg" />
        </div>
      </div>
    </div>
    <!-- kidnapped Card -->
    <div class="flex flex-wrap gap-12 justify-center relative">
        <div id="kidnapped-card" class="hidden">
            <div class="flex flex-wrap gap-4 justify-center pr-4 pl-4">
                <div
                id=""
                class="selectable-card w-[80%] bg-gray-500 shadow rounded-lg p-1 cursor-pointer">
                    <img src="/img/events/kidnapping.jpeg" class="rounded-lg" />
                </div>
            </div>
        </div>
    </div>

    <!-- Timebar -->
    <div
      id="timebar-kidnapped"
      class="w-[88%] bg-gray-300 rounded-full h-4 overflow-hidden hidden"
    >
      <div
        id="timebar-progress-kidnapped"
        class="bg-gray-500 h-full transition-all rounded-full"
        style="width: 0"
      ></div>
    </div>
  </div>