<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dynamic Menu Transition</title>
    <link href="/css/output.css" rel="stylesheet" />
    <link href="/css/cards.css" rel="stylesheet" />
    <script src="/js/socket.io.min.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body class="bg-black h-screen">
    <div class="flex flex-col items-center justify-center h-full space-y-6">
      <!-- Custom Event Handlers -->
      <div id="custom-event" class="custom-event-start">
        <div class="flex flex-wrap gap-12 justify-center p-4 relative">
          <!-- Arrow -->
          <div class="arrow-container">
            <div class="arrow"></div>
          </div>

          <!-- Event Before -->
          <div
            id="event-before"
            class="w-[calc(50%-1rem)] max-w-[150px] rounded-lg cursor-pointer relative"
          >
            <img src="/img/Ressources.jpeg" class="rounded-lg" />
          </div>

          <!-- Event Now -->
          <div
            id="event-now"
            class="w-[calc(50%-1rem)] max-w-[150px] rounded-lg cursor-pointer relative"
          >
            <img src="/img/Ressources.jpeg" class="rounded-lg" />
          </div>
        </div>
      </div>
      <%= eventTypes %>
      <!-- Main Cards -->
      <div id="main-cards" class="hidden">
        <div class="flex flex-wrap gap-4 justify-center pr-4 pl-4">
          <% if (eventTypes === "Kidnapping") { %>
            <!-- Card BONUS (Firefighter) -->
            <div
            id="firefighter"
            class="selectable-card w-[calc(50%-1rem)] max-w-[130px] bg-white shadow rounded-lg p-1 cursor-pointer">
              <img src="/img/Ressources.jpeg" class="rounded-lg" />
            </div>
          <% } %>          
          
          <% if (eventTypes === "Fire") { %>
            <!-- Card BONUS (Kidnap) -->
            <div
              id="kidnapping"
              class="selectable-card w-[calc(50%-1rem)] max-w-[130px] bg-white shadow rounded-lg p-1 cursor-pointer"
            >
              <img src="/img/Ressources.jpeg" class="rounded-lg" />
            </div>
          <% } %>   
          <!-- Card 1 (Resources) -->
          <div
            id="resources"
            class="selectable-card w-[calc(50%-1rem)] max-w-[130px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/Ressources.jpeg" class="rounded-lg" />
          </div>
          <!-- Card 2 (Build) -->
          <div
            id="build"
            class="selectable-card w-[calc(50%-1rem)] max-w-[130px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/build.png" class="rounded-lg" />
          </div>
          <!-- Card 3 (Exploration) -->
          <div
            id="exploration"
            class="selectable-card w-[calc(50%-1rem)] max-w-[130px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/exploration.png" class="rounded-lg" />
          </div>
          <!-- Card 4 (Technology) -->
          <div
            id="technology"
            class="selectable-card w-[calc(50%-1rem)] max-w-[130px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/technology.png" class="rounded-lg" />
          </div>
        </div>
      </div>
      <!-- Sub sections -->

      <!-- Card Div Resources to Center Everything -->
      <div id="resources-cards" class="hidden">
        <!-- Card Grid -->
        <div class="flex flex-wrap gap-4 justify-center pr-4 pl-4">
          <!-- Card 1 -->
          <div
            id="water"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/water.png" class="rounded-lg" />
          </div>
          <!-- Card 2 -->
          <div
            id="plants"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/plans.png" class="rounded-lg" />
          </div>
          <!-- Card 3 -->
          <div
            id="fish"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/fish.png" class="rounded-lg" />
          </div>
          <!-- Card 4 -->
          <div
            id="wood"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/wood.png" class="rounded-lg" />
          </div>
          <!-- Card 5 -->
          <div
            id="cook"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/cook.png" class="rounded-lg" />
          </div>
        </div>
      </div>

      <!-- Card Div Build to Center Everything -->
      <div id="build-cards" class="hidden">
        <!-- Card Grid -->
        <div class="flex flex-wrap gap-4 justify-center pr-4 pl-4">
          <!-- Card 1 -->
          <div
            id="shleter"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/shleter.png" class="rounded-lg" />
          </div>
          <!-- Card 2 -->
          <div
            id="fire"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/fire.png" class="rounded-lg" />
          </div>
          <!-- Card 3 -->
          <div
            id="defense"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/defense.png" class="rounded-lg" />
          </div>
          <!-- Card 4 -->
          <div
            id="storage"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/storage.png" class="rounded-lg" />
          </div>
        </div>
      </div>

      <!-- Card Div Exploration to Center Everything -->
      <div id="exploration-cards" class="hidden">
        <!-- Card Grid -->
        <div class="flex flex-wrap gap-4 justify-center pr-4 pl-4">
          <!-- Card 1 -->
          <div
            id="water++"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/water.png" class="rounded-lg" />
          </div>
          <!-- Card 2 -->
          <div
            id="wood++"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/wood.png" class="rounded-lg" />
          </div>
          <!-- Card 3 -->
          <div
            id="loot"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/Loot.png" class="rounded-lg" />
          </div>
          <!-- Card 4 -->
          <div
            id="hunting"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/hunting.png" class="rounded-lg" />
          </div>
        </div>
      </div>

      <!-- Card Div Technology to Center Everything -->
      <div id="technology-cards" class="hidden">
        <!-- Card Grid -->
        <div class="flex flex-wrap gap-4 justify-center pr-4 pl-4">
          <!-- Card 1 (Tools)-->
          <div
            id="tools"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/tools.png" class="rounded-lg" />
          </div>
          <!-- Card 2 (Transport)-->
          <div
            id="transport"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/transport.png" class="rounded-lg" />
          </div>
          <!-- Card 3 (Safety)-->
          <div
            id="safety"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/safety.png" class="rounded-lg" />
          </div>
          <!-- Card 4 (Farming)-->
          <div
            id="farming"
            class="selectable-card w-[calc(50%-1rem)] max-w-[150px] bg-white shadow rounded-lg p-1 cursor-pointer"
          >
            <img src="/img/farming.png" class="rounded-lg" />
          </div>
        </div>
      </div>

      <!-- Timebar -->
      <div
        id="timebar"
        class="w-[88%] bg-gray-300 rounded-full h-4 overflow-hidden hidden"
      >
        <div
          id="timebar-progress"
          class="bg-blue-600 h-full transition-all rounded-full"
          style="width: 0"
        ></div>
      </div>
    </div>
  </body>
</html>
