<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/css/output.css" rel="stylesheet">
    <script src="/js/socket.io.min.js"></script>
    <script src="/js/index.js" defer></script>
    <link href="/css/cards.css" rel="stylesheet" />
  </head>
  <body class="bg-black h-screen">
    <div id="wait" class="">
      <p class="text-white">Waiting for the next turn</p> 
    </div>

    <div id="newTurn" class="hidden">
      <div id="alive" class="hidden">
        <%- include('components/alive') %>
      </div>
      <div id="sick" class="hidden">
        <%- include('components/sick')%>
      </div>
      <div id="kidnapped" class="hidden">
        <%- include('components/kidnapped')%>
      </div>
      <div id="dead" class="hidden">
        <%- include('components/dead') %>
      </div>
    </div>
  </body>
</html>
